html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: "Helvetica Neue",sans-serif;
  font-weight: lighter;
}

header {
  width: 100%;
  height: 400px;
  background: url(pexels-dmitry-demidov-3793689.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.content {
  width: 94%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px 46px;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 1px;
  font-family: 'Trebuchet MS';
}

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
  z-index: 1;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav.black ul {
  background: #000;
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 3px;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

@media(max-width: 786px) {

  .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
  }

  nav ul {
        max-height: 0px;
        background: #000;
  }

  nav.black ul {
        background: #000;
  }

  .showing {
        max-height: 34em;
  }

  nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
  }

  .menu-icon {
        display: block;
  }

}

.insert{
  background: #626b6b !important;
  margin-top:30px;
  margin-bottom: 30px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 20px;
  
}

.update{
  background: #209094 !important;
  margin-top:30px;
  margin-bottom: 30px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 20px;

}
.delete{
  background: #626b6b !important;
  margin-top:30px;
  margin-bottom: 30px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 20px;

}
.content1 p{
  color: rgb(5, 5, 5);
    font-size: 35px;
    font-weight: bold;
    font-family: 'Playfair Display';
    text-align: center;
    font-style: italic;
    padding-bottom: 15px;
    padding-top: 30px;
}

.content2 p{
  color: rgb(5, 5, 5);
    font-size: 35px;
    font-weight: bold;
    font-family: 'Playfair Display';
    text-align: center;
    font-style: italic;
  
    padding-top: 30px;
}
  
.content3{
  color: rgb(5, 5, 5);
    font-size: 35px;
    font-weight: bold;
    font-family: 'Playfair Display';
    text-align: center;
    font-style: italic;
   
    padding-top: 30px;
}
.row{
  align-items: center;
  padding-left: 70px;
  padding-bottom: 30px;
}

.button {
  padding-left: 670px;
  padding-bottom: 40px;
  
}
.button .btn-primary{
  background-color: #524f4e;
  border-color: #524f4e;
}

#stat{
margin-left:370px;
}

.button2 {
  padding-left: 515px;
  padding-bottom: 40px;
  padding-top: 25px;
  
}

.button2 .btn-primary{
  background-color: #166f72;
  border-color: #166f72;
}
#up{
  margin-left: 420px;
}

.btn-primary {
  padding-left:30px;
  padding-right: 30px;
  
}

#del{
  margin-left: 420px;
}

.button3 .btn-primary{
  background-color: #524f4e;
  border-color: #524f4e;
}
.button3{
  padding-left: 510px;
  padding-bottom: 40px;
  padding-top: 25px;
}