 .u-section-1 {
  min-height: 1043px;
}

.u-section-1 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  min-height: 258px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-1 .u-list-1 {
  width: 291px;
  margin: 43px auto 0 calc(((100% - 1140px) / 2) + 33px);
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
  margin: 57px auto 0;
}

.u-section-1 .u-table-1 {
  width: 1059px;
  margin: 73px auto 60px;
}

.u-block-7c99-21 {
  border-style: double;
}

.u-block-7c99-24 {
  height: 46px;
}

.u-section-1 .u-table-cell-1 {
  border-style: double;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-2 {
  border-style: double;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-3 {
  border-style: double;
  font-size: 1.25rem;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-4 {
  border-style: double;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-5 {
  border-style: double;
  font-size: 1.25rem;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-6 {
  border-style: double;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-7 {
  border-style: double;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-8 {
  border-style: double;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-9 {
  border-style: double;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-10 {
  border-style: double;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-11 {
  border-style: double;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-12 {
  border-style: double;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.u-block-7c99-39 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-list-1 {
    margin-left: calc(((100% - 940px) / 2) + 33px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN);
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-table-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    margin-left: calc(((100% - 720px) / 2) + 33px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-list-1 {
    margin-left: calc(((100% - 540px) / 2) + 33px);
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-list-1 {
    margin-left: calc(((100% - 340px) / 2) + 33px);
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 662px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  margin: 76px auto 0;
}

.u-section-2 .u-table-1 {
  width: 773px;
  margin: 46px auto 60px;
}

.u-block-b0d3-7 {
  border-style: double;
}

.u-block-b0d3-10 {
  height: 46px;
}

.u-section-2 .u-table-cell-1 {
  border-style: double;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.u-section-2 .u-table-cell-2 {
  border-style: double;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.u-section-2 .u-table-cell-3 {
  border-style: double;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.u-section-2 .u-table-cell-4 {
  border-style: double;
  font-weight: 700;
  font-style: italic;
  font-size: 1.25rem;
}

.u-section-2 .u-table-cell-5 {
  border-style: double;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.u-section-2 .u-table-cell-6 {
  border-style: double;
  font-weight: 700;
  font-style: italic;
  font-size: 1.25rem;
}

.u-section-2 .u-table-cell-7 {
  border-style: double;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.u-section-2 .u-table-cell-8 {
  border-style: double;
  font-weight: 700;
  font-style: italic;
  font-size: 1.25rem;
}

.u-section-2 .u-table-cell-9 {
  border-style: double;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.u-section-2 .u-table-cell-10 {
  border-style: double;
  font-weight: 700;
  font-style: italic;
  font-size: 1.25rem;
}

.u-section-2 .u-table-cell-11 {
  border-style: double;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.u-section-2 .u-table-cell-12 {
  border-style: double;
  font-weight: 700;
  font-style: italic;
  font-size: 1.25rem;
}

.u-block-b0d3-25 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-table-1 {
    width: 340px;
  }
}

#mySidenav a {
  position: absolute;
  right: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 10px 0  0 10px;
  z-index: 10;
  background-color: rgb(41, 45, 51);
  margin-top: 20px;
  
}

#mySidenav a:hover {
  right: 0;
  
}